*.aux
*.fdb_*
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
ddasp_exercise_slides.pdf
.binder/detailed_packages_list_conda.txt
.binder/detailed_packages_list_pip.txt
exercise11_binary_logistic_regression_tf.png
exercise11_binary_logistic_regression_tf_seed_*.png
.ipynb_checkpoints
audio_ex02
audio_ex05
audio_ex08
audio_ex12
audio_ex13
drafts
tf_keras_logs
