--extra-index-url https://download.pytorch.org/whl/cpu
torch>=2.14.0
torchvision
torchinfo
tensorflow>=2.21.0
tensorboard
keras-tuner
scikit-learn
statsmodels
numpy
scipy
matplotlib
ipympl
librosa
soundfile
pyloudnorm
