--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0
zentorch==5.1.0
torchvision
torchinfo
tensorflow==2.19.0
keras-tuner
scikit-learn
statsmodels
numpy>=2.0.0
scipy
matplotlib
ipympl
librosa
soundfile
pyloudnorm
