--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.14.0
zentorch
torchvision
torchinfo
tensorflow==2.21.0
tensorboard
keras-tuner
scikit-learn
statsmodels
numpy>=2.0.0
scipy
matplotlib
ipympl
librosa
soundfile
pyloudnorm
